.city_list {

  
    .list_content {
        width:100%;
        height: calc(100vh - 45px);
        .city_list_name {
            height: 40px;
            display: flex;
            align-items: center;
            padding-left:5px;
            color:#ccc;
            font-size:15px;
        }
      
        .city_list_content {
          .list_item {
            padding-left:5px;
            display:flex;
            align-items: center;
            height: 40px;
            font-size:15px;
            border-bottom: 1px solid #ccc;
          }
        }
    }

  }